.title {
  font-family: 'Ingrid Darling', sans-serif;
  color: #FF007A;
  font-size: 20vw;
  text-shadow: 0 1px 1px white;
  margin: 0;
}

.introduction {
  font-family: 'Satisfy', sans-serif;
  color: white;
  width: 85%;
  margin: 1rem 0;
  text-align: center;
}

