.container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: 'Ingrid Darling', sans-serif;
  color: #FF007A;
  font-size: 22vw;
  text-shadow: 0 1px 1px white;
  position: absolute;
  top: -6vh;
}
