.container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: 'Ingrid Darling', sans-serif;
  color: white;
  font-size: 5vw;
}
